<!DOCTYPE html>
<html>
  <%- include('../layout/head') %>
  <body>
      <%- include('../layout/header') %>

      <section class="book-view container">
            <h2> Number of Books : <%= results.length %></h1>
            <% results.forEach(book => { %>
            <ul class="book-list">
              <li data-id="<%= book.id %>">
                <img src=<%= book.image_url %>>
              </li>
              <li data-id="<%= book.id %>">
                <h4>Title: <%= book.title %></h4>
              </li>
              <li data-id="<%= book.id %>">
                <p>Author: <%= book.author %></p>
              </li>
              <li data-id="<%= book.id %>">
                <a href="/books/<%= book.id%>">View Details</a>
              </li>
            </ul>
            <% }) %>
      </section>
  </body>
</html>