<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../styles/layout.css">
  <link rel="stylesheet" type="text/css" href="../styles/modules.css">
  <link rel="stylesheet" type="text/css" href="../styles/base.css">
  <link rel="stylesheet" type="text/css" href="../styles/icons.css">
  <body>
      <%- include('../layout/header') %>
      <section class="book-view container">
        <ul class="book-list">
          <li class="book-item" data-id="<%= book.id %>">
            <h4>Book: <%= book.title %></h4>
          </li>  
          <li class="book-item" data-id="<%= book.id %>">
            <p>Author: <%= book.author %></p>
          </li>
          <li class="book-item" data-id="<%= book.id %>">
            <p>Description: <%= book.description %></p>
          </li>
          <li class="book-item" data-id="<%= book.id %>">
            <p>ISBN: <%= book.isbn %></p>
          </li>
          <li class="book-item" data-id="<%= book.id %>">
            <img src=<%= book.image_url %>>
          </li>
          <li class="book-item" data-id="<%= book.id %>">
            <a href="/">Back to Summary View</a>
          </li>
        </ul>
      </section>
      <section class="book-view-update">
        <form id="update-form" action="/put" method="post">
          <input type="text" name="title" value="<%= book.title %>" data-id="<%= book.id %>">
          <input type="text" name="author" value="<%= book.author %>">
          <textarea name="description" value="<%= book.description %>" wrap="soft"><%= book.description %></textarea>
          <input type="text" name="isbn" value="<%= book.isbn %>">
          <input type="text" name="imageurl" value="<%= book.image_url %>">
          <input type="text" name="bookshelf" placeholder="Bookshelf Number">
          <button  class="create-view-container <%=count%>" type="submit">Update Book</button>
        </form>
      </section>
  </body>
</html>